{deps, [
  {buoy, ".*",
    {git, "https://github.com/lpgauth/buoy.git", {tag, "0.1.1"}}},
  {dlhttpc, ".*",
    {git, "https://github.com/lpgauth/dlhttpc.git", {branch, "fix_dialyzer"}}},
  {hackney, ".*",
    {git, "https://github.com/benoitc/hackney.git", {tag, "1.6.2"}}},
  {ibrowse, ".*",
    {git, "https://github.com/cmullaparthi/ibrowse.git", {tag, "v4.4.0"}}},
  {katipo, ".*",
    {git, "https://github.com/puzza007/katipo.git", {tag, "0.4.0"}}},
  {timing, ".*",
    {git, "https://github.com/lpgauth/timing.git", {branch, "master"}}}
]}.
